:root {
  --14-b-font-family: "Lato", Helvetica;
  --14-b-font-size: 14px;
  --14-b-font-style: normal;
  --14-b-font-weight: 700;
  --14-b-letter-spacing: 0px;
  --14-b-line-height: 120.0000476837158%;
  
  --14-m-font-family: "Lato", Helvetica;
  --14-m-font-size: 14px;
  --14-m-font-style: normal;
  --14-m-font-weight: 500;
  --14-m-letter-spacing: 0px;
  --14-m-line-height: 120.0000476837158%;
  
  --16-b-font-family: "Lato", Helvetica;
  --16-b-font-size: 16px;
  --16-b-font-style: normal;
  --16-b-font-weight: 700;
  --16-b-letter-spacing: 0px;
  --16-b-line-height: 120.0000476837158%;
  
  --20-b-font-family: "Lato", Helvetica;
  --20-b-font-size: 20px;
  --20-b-font-style: normal;
  --20-b-font-weight: 700;
  --20-b-letter-spacing: 0px;
  --20-b-line-height: 120.0000476837158%;
  
  --background-main-background-color: rgba(255, 255, 255, 1);
  --controls-neutral-control-layer-color: rgba(90, 102, 137, 1);
  --controls-primary-cta-color: rgba(76, 64, 230, 1);
  --gray: rgba(140, 140, 140, 1);
  --h-font-family: "Lato", Helvetica;
  --h-font-size: 32px;
  --h-font-weight: normal;
  --h-line-height: 120.0000476837158%;
  --light: rgba(241, 241, 241, 1);
  --purple: rgba(145, 165, 255, 1);
}
