.interface {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.interface .div {
  background-color: #ffffff;
  height: 812px;
  position: relative;
  width: 400px;
}

.interface .status-bar-instance {
  height: 33px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 400px !important;
}

.interface .design-component-instance-node {
  margin-top: -17.36px !important;
}

.interface .status-bar-2 {
  margin-top: -19.00px !important;
}

.interface .status-bar-3 {
  background-image: url(./union-2.svg) !important;
}

.interface .image {
  height: 30px;
  left: 133px;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 30px;
}

.interface .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 12px;
  font-weight: 800;
  height: 10px;
  left: 169px;
  letter-spacing: 0.20px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 58px;
  white-space: nowrap;
}

.interface .clip-path-group {
  height: 20px;
  left: 34px;
  position: absolute;
}

.interface .overlap-group {
  height: 40px;
  left: 54px;
  position: absolute;
  top: 112px;
  width: 79px;
}

.interface .img {
  height: 40px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 40px;
}

.interface .image-2 {
  height: 40px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 40px;
}

.interface .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 16px;
  font-weight: 800;
  height: 10px;
  left: 54px;
  letter-spacing: 0.20px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 167px;
  white-space: nowrap;
}

.interface .enter-your-DBS-bank {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 28px;
  left: 34px;
  letter-spacing: 0.20px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 1989px;
  width: 310px;
}

.interface .span {
  letter-spacing: 0.03px;
}

.interface .text-wrapper-4 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0.03px;
}

.interface .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 100px;
  left: 122px;
  letter-spacing: 0.20px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 2189px;
  white-space: nowrap;
}

.interface .form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 45px;
  position: absolute;
  top: 272px;
  width: 312px;
}

.interface .text-input-instance {
  align-self: stretch !important;
  width: 100% !important;
}

.interface .text-input-2 {
  background-image: url(./clip-path-group-2.png) !important;
}

.interface .legal {
  height: 32px;
  left: 45px;
  position: absolute;
  top: 471px;
  width: 314px;
}

.interface .p {
  color: #333333;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 32px;
}

.interface .frame {
  background-color: #000000;
  border-radius: 20px;
  height: 52px;
  left: 132px;
  overflow: hidden;
  position: absolute;
  top: 609px;
  width: 155px;
}

.interface .sub-submitit {
  color: transparent;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 28px;
  left: 12px;
  letter-spacing: -0.40px;
  line-height: 28px;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.interface .text-wrapper-6 {
  color: #000000;
  letter-spacing: -0.08px;
}

.interface .text-wrapper-7 {
  color: #ffffff;
  letter-spacing: -0.08px;
}
